@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
    font-family: 'Roboto', sans-serif;
}


:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}
a{
    text-decoration: none;
    
}

p {
    font-size: 12px;
    color: var(--textos);
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 26px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

h2 {
    font-size: 22px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 18px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
}


.header-page {
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    color: white;
    width: 100%;
    margin: 0 auto;
}





.menu-barra {
    background-color: var(--fondo-Menu);
    padding: 20px;
}


.menu-barra ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}


.menu-barra li {
    margin-right: 20px; 
}


.menu-barra a {
    color: #FFF; 
    text-decoration: none; 
    font-size: 10px;
    text-transform: uppercase; 
}


.menu-barra a.active {
    font-weight: bold; 
}
.flex-container{
    display: flex;
    width: 100%;
    margin: 15px;
    align-items: center;
    justify-content: space-around;

}

.item1{
    margin-left: 20px;
    margin-right: 2px;
    min-width: 200px;
    max-width: 700px;

}
.item2 img{
    text-align: center;
    margin-right: 30px;
    margin-left: 2px;
    width: 300px;

}



#menu-paso {
    background-color: var(--magenta);
    color: #fff;
}

#menu-paso:hover {
    background-color: var(--gris-claro);
}


#menu-generales {
    background-color: var(--celeste);
    color: #fff;
}

#menu-generales:hover {
    background-color: var(--gris-claro);
}


#menu-informes {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
}

#menu-informes:hover {
    background-color: var(--gris-claro);

}
   
.logo {
    width: 150px;
}




#menu-paso,
#menu-generales,
#menu-informes {
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100px; 
    margin-right: 10px; 
}

/* BOTONES PASO Y GENERALES */
#boton-paso,
#boton-generales {
    background-color: var(--magenta);
    border-radius: 10px;
    /* margin: 25px; */
    width: 400px;
    height: 100px;
    padding: 1rem;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
}

#boton-generales {
    background-color: var(--celeste);
}


#boton-container {
    display: flex;
    justify-content: space-around; 
}
#boton-container a{
    margin: 25px;
    width: 400px;
    height: 100px;
    padding: 1rem;
}

/* ANIMACION BOTONES PASO Y GENERALES */
#boton-generales:hover{
    background-color: #69ccf0;
}
#boton-paso:hover{
    background-color:#e865a2;
}

#boton-generales:active{
    background-color: #1991bd;
}
#boton-paso:active{
    background-color:#ad1e61;
}
/* FIN ANIMACION BOTONES PASO Y GENERALES */
/* FIN BOTONES PASO Y GENERALES */

#contenido-inferior-texto {
    font-size: 20px;
    margin: 20px;
}

#pie-de-pagina {
    background-color: var(--fondo-Footer);
    color: var(--texto-footer);
}


#pie-de-pagina {
    background-color: var(--fondo-Footer);
    color: var(--texto-footer);
    padding: 20px;
    font-size: 12px;
    line-height: 1.4;
}


#pie-de-pagina img {
    width: 100px; 
    
    
}


#pie-de-pagina p {
    margin: 0;
    text-align: right, justify;
    color: #727272;
}


#pie-de-pagina a {
    color: var(--texto-footer);
    text-decoration: underline;
}

