@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
    font-family: 'Roboto', sans-serif;
}


:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}

p {
    font-size: 14px;
    color: var(--celeste);
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 26px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;

}

h2 {
    font-size: 17px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 1.8em 0 0 0;;
}

h3 {
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid var(--borde-Grilla);
}

.contenedor-titulo{
    padding: 2em;
}

.header-page {
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    color: white;
    width: 100%;
    margin: 0 auto;
}

.menu-barra {
    background-color: var(--fondo-Menu);
    padding: 20px;
}

.menu-barra ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-barra li {
    margin-right: 20px;
}

.menu-barra a {
    color: #FFF;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
}

.menu-barra a.active {
    font-weight: bold;
}

#filtrar {
    background-color: white;
    padding: 5px;
    color: var(--textos);
    border-radius: 15px;
    font-size: 10px;
    font: #fff;
    text-transform: uppercase;
    text-align: center;
}

#menu-informes {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
}

#menu-informes:hover {
    background-color: var(--gris-claro);

}

#inicio {
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    font: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
}

#inicio:hover {
    color: var(--textos);
}

.lista select {
    background: transparent;
    font-size: 14px;
    height: 30px;
    border-style: hidden;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
}

.logo {
    width: 150px;
}

#boton-informe {
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 45px;
    height: 30px;
}

#boton-informe:hover {
    color: var(--textos);
}

#mesas-escrutadas {
    background-color: var(--celeste);
    border-radius: 10px;
    font-weight: bold;
    margin: 15px;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: #fff;
}

#electores {
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 15px;
    font-weight: bold;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: #fff;
}

#participacion {
    background-color: var(--morado);
    border-radius: 10px;
    margin: 15px;
    font-weight: bold;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: #fff;
}

#flex-container {
    display: flex;
    justify-content: flex-end;
}

#recuadros {
    display: flex;
    justify-content: space-around;
    flex: 0 0 0 calc(40% 30px);
    min-height: 400px;
    text-transform: uppercase;

}

#agrup-politicas{
    overflow-y: scroll;
    font-weight: bold;
    font-size: 12px;
}
/* SCROLL */
/* ::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 2em;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 208, 255); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
    border-radius: 2em;
    height: 75%;
} */

/* HAY QUE INTENTAR QUE EL SCROLL QUEDE ADENTRO DEL DIV */
/* FIN SCROLL */

.votos{
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.2);
    width: 25%;
    height: 325px;
    margin: 0 5px 0 5px;
    border: 1px var(--borde-Grilla) solid;
    padding: 0.5rem 1rem;

}
.votos h2,h3{
    padding: 5px;
}


#recuadros p{
    color: var(--textos);
    padding: 5px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

/* #recuadros h2{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid var(--borde-Grilla);
} */

/* LINEA 1 */
.progress {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-amarillo-claro);
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width:40%; 
    background: var(--grafica-amarillo);
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}
/* LINEA 2 */
.progress2 {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: rgb(140, 224, 255);
}

.progress-bar2 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width:25%; 
    background: var(--grafica-celeste);
}

.progress-bar-text2 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}
/* LINEA 3 */
.progress3 {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-bordo-claro);
}

.progress-bar3 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width:35%; 
    background: var(--grafica-bordo-claro);
}

.progress-bar-text3 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}
/* FIN LINEAS */

/* INICIO LINEAS HORIZONTALES */
.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
    }
    .chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
    }
    /* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
    .chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
    }
    .chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
    }
    .chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
    }
    /* posicionamos el % del gráfico*/
    .chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -0.5em;
    top: -1.5em;
    }
    .chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    }
    /* giramos las valores de 0% y 100% para horizontal */
    .chart-wrap.horizontal .grid::before,
    .chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
    }
    .chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
    }
    .chart-wrap .bar:hover {
    opacity: 0.7;
    }
    .chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    }
    /* FIN LINEAS HORIZONTALES */


#pie-de-pagina {
    background-color: var(--fondo-Footer);
    color: var(--texto-footer);
}


#pie-de-pagina {
    background-color: var(--fondo-Footer);
    color: var(--texto-footer);
    padding: 20px;
    font-size: 12px;
    line-height: 1.4;
}


#pie-de-pagina img {
    width: 100px;
}


#pie-de-pagina p {
    margin: 0;
    text-align: right, justify;
    color: #727272;
}


#pie-de-pagina a {
    color: var(--texto-footer);
    text-decoration: underline;
}