@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}

.texto-path {
    font-size: 14px;
    color: var(--celeste);
}

h1 {
    font-size: 26px;
    color: var(--titulos);
    padding-bottom: 20px;

}

h2 {
    font-size: 17px;
    color: var(--titulos);
    text-align: center;
    padding: 1.8em 0 0 0;
    ;
}

.contenedor-titulo {
    padding: 2em;
}

.header-color{
    background-color: var(--fondo-Cabecera);
}

.header-page {
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    color: white;
    width: 90%;
    margin: 0 auto;
}

.menu-barra {
    background-color: var(--fondo-Menu);
    padding: 8px;
}

.menu-barra ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-barra li {
    margin-right: 10px;
}

.menu-barra a {
    color: #FFF;
    text-decoration: none;
}

.menu-barra a.active {
    font-weight: bold;
}

#filtrar {
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    background-color: #FFF;
    height: fit-content;
}

#menu-paso {
    background-color: var(--magenta);
}

#menu-paso:hover {
    background-color: var(--gris-claro);
}

#menu-informes,
#menu-paso,
#menu-inicio {
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    margin-right: 10px;
}

.boton-nav{
    padding-top: 9px !important;
}

#menu-inicio {
    background-color: var(--gris-claro);
    margin-right: 0;
    margin-left: auto;
}

#menu-informes {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
}

#menu-informes:hover {
    background-color: var(--gris-claro);

}

.lista select {
    background: transparent;
    font-size: 14px;
    height: 25px;
    border-style: hidden;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
}

.lista i {
    margin-right: 10px;
    color: black;
}

.logo {
    width: 150px;
}

.mensaje-usuario {
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
}

.mensaje-usuario p {
    font-size: 12px;
    font-weight: 200;
    text-align: center;
    color: #FFF;
}

.mensaje-usuario-verde {
    background-color: var(--mensaje-usuario-verde);
}

.mensaje-usuario-rojo {
    background-color: var(--mensaje-usuario-rojo);
}

.mensaje-usuario-amarillo {
    background-color: var(--mensaje-usuario-amarillo);
}

.mensaje-usuario i {
    margin-right: 10px;
    color: #FFF;
}

#boton-informe {
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 45px;
    height: 30px;
    border-color: #9e9e9e;
}

#boton-informe:hover {
    color: var(--textos);
}

.capsulas-procentajes {
    border-radius: 10px;
    font-weight: bold;
    margin: 15px;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    background-size: 50px;
}

#mesas-escrutadas {
    background-color: var(--celeste);
}

#electores {
    background-color: var(--magenta);
}

#participacion {
    background-color: var(--morado);
}

#flex-container {
    display: flex;
    justify-content: flex-end;
}

.recuadros-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.recuadro {
    background-color: white;
    border-radius: 25px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}


.titulo-recuadro {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding-top: 14px;
}

.recuadro p {
    text-align: right;
    color: black;
    font-size: 10px;
}

.contenido-recuadro {
    padding: 10px;
}

.recuadro .contenido-recuadro {
    max-height: 325px;
    overflow-y: auto;
}

.contenido-recuadro svg {
    max-width: 100%;
    height: auto;
    align-items: center;
    padding-top: 40px;
}

/* SCROLL */
/* ::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 2em;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 208, 255); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
    border-radius: 2em;
    height: 75%;
} */

/* HAY QUE INTENTAR QUE EL SCROLL QUEDE ADENTRO DEL DIV */
/* FIN SCROLL */

/*recuadro agrupaciones politicas*/
.contenido-recuadro h3 {
    color: #464545;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid var(--borde-Grilla);
    padding: 5px;
    text-align: left;
}

/* LINEA 1 */
.progress {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-amarillo-claro);
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 40%;
    background: var(--grafica-amarillo);
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

/* LINEA 2 */
.progress2 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: rgb(140, 224, 255);
}

.progress-bar2 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 25%;
    background: var(--grafica-celeste);
}

.progress-bar-text2 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

/* LINEA 3 */
.progress3 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-verde-claro);
}

.progress-bar3 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 35%;
    background: var(--grafica-verde);
}

.progress-bar-text3 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

.progress4 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-lila-claro);
}

.progress-bar4 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 67%;
    background: var(--grafica-lila);
}

.progress-bar-text4 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

.progress5 {
    height: 20px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    background: var(--grafica-bordo-claro);
}

.progress-bar5 {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    width: 10%;
    background: var(--grafica-bordo);
}

.progress-bar-text5 {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}


/*Fin recuadro agrupaciones politicas*/

/* comienzo recuadro resumen de votos*/
.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* Cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* Giramos las letras para horizontal */
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* Posicionamos el % del gráfico */
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: "0%";
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: "100%";
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

/* Giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}

#partido1 {
    background-color: var(--grafica-amarillo);
}

#partido2 {
    background-color: var(--grafica-lila2);
}

#partido3 {
    background-color: var(--grafica-bordo);
}

#partido4 {
    background-color: var(--grafica-celeste);
}

#partido5 {
    background-color: var(--grafica-lila);
}

#partido6 {
    background-color: var(--grafica-bordo);
}

#partido7 {
    background-color: var(--grafica-verde);
}

#partido8 {
    background-color: var(--grafica-gris);
}

/*fin recuadro resumen de votos*/

/*footer*/
#pie-de-pagina {
    background-color: var(--fondo-Footer);
    padding: 20px;
    line-height: 1.4;
    display: flex;
}

#pie-de-pagina img {
    height: 40px;
}

#pie-de-pagina p {
    font-size: 12px;
    margin: 0;
    color: var(--texto-footer);
}

#pie-de-pagina a {
    color: var(--texto-footer);
    text-decoration: underline;
}

/*fin footer*/