@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}

a {
    text-decoration: none;
}

p {
    font-size: 12px;
    color: var(--textos);
}

h1 {
    color: var(--titulos);
    padding-bottom: 20px;
}

h2 {
    font-size: 22px;
    color: var(--titulos);
}

h3 {
    font-size: 18px;
    color: var(--titulos);
}

.header-color{
    background-color: var(--fondo-Cabecera);
}
.header-page {
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    color: white;
    width: 90%;
    margin: 0 auto;
}


.menu-barra {
    background-color: var(--fondo-Menu);
    padding: 10px;
}

.menu-barra ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-barra li {
    margin-right: 20px;
}

.menu-barra a {
    color: #FFF;
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
}

.menu-barra a.active {
    font-weight: bold;
}

.flex-container {
    display: flex;
    width: 100%;
    margin: 15px;
    align-items: center;
    justify-content: space-around;

}

.item1 {
    margin-left: 20px;
    margin-right: 2px;
    min-width: 200px;
    max-width: 700px;

}

.item2 img {
    text-align: center;
    margin-right: 30px;
    margin-left: 2px;
    width: 350px;

}

#menu-paso {
    background-color: var(--magenta);
}

#menu-paso:hover {
    background-color: var(--gris-claro);
}

#menu-generales {
    background-color: var(--celeste);
}

#menu-generales:hover {
    background-color: var(--gris-claro);
}



#menu-informes:hover {
    background-color: var(--gris-claro);

}

.logo {
    width: 150px;
}

#menu-paso,
#menu-generales,
#menu-informes {
    padding: 5px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    margin-right: 10px;
}

#menu-informes {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px;
}

/* BOTONES PASO Y GENERALES */
#boton-paso,
#boton-generales {
    border-radius: 10px;
    margin: 15px 55px 100px 55px;
    width: 400px;
    height: 100px;
    padding: 1rem;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
}

#boton-paso{
    background-color: var(--magenta);
}

#boton-generales {
    background-color: var(--celeste);
}

#boton-container {
    display: flex;
    justify-content: center;
}

#contenido-inferior-texto {
    margin: 20px;
}

/*footer*/
#pie-de-pagina {
    background-color: var(--fondo-Footer);
    padding: 20px;
    line-height: 1.4;
    display: flex;
}

#pie-de-pagina img {
    height: 40px;
}

#pie-de-pagina p {
    font-size: 12px;
    margin: 0;
    color: var(--texto-footer);
}

#pie-de-pagina a {
    color: var(--texto-footer);
    text-decoration: underline;
}