@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
    font-family: 'Roboto', sans-serif;
}


:root {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;
}


p {
    font-size: 14px;
    color: var(--celeste);
    font-family: 'Roboto', sans-serif;
}


h1 {
    font-size: 26px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

h2 {
    font-size: 22px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 18px;
    color: var(--titulos);
    font-family: 'Roboto', sans-serif;
}


.header-page {
    padding: 0.5em;
    background-color: var(--fondo-Cabecera);
    color: white;
    width: 100%;
    margin: 0 auto;
}



.menu-barra {
    background-color: var(--fondo-Menu);
    padding: 20px;
}


.menu-barra ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}


.menu-barra li {
    margin-right: 20px; 
}


.menu-barra a {
    color: #FFF; 
    text-decoration: none; 
    font-size: 10px;
    text-transform: uppercase; 
}


.menu-barra a.active {
    font-weight: bold; 
}

#menu-paso {
    background-color: var(--magenta);
    color: #fff;
}

#menu-paso:hover {
    background-color: var(--gris-claro);
}


#menu-generales {
    background-color: var(--celeste);
    color: #fff;
}

#menu-generales:hover {
    background-color: var(--gris-claro);
}

#menu-paso,
#menu-generales,
#menu-inicio {
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100px; 
    margin-right: 10px; 
}

#menu-inicio{
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    font: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
}


#boton-paso,
#boton-generales {
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 25px;
    width: 400px;
    height: 100px;
    padding: 1rem;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

.logo{
    width: 150px;
}

.mensaje-usuario {
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.mensaje-usuario p{
    color: #FFF;
}

.mensaje-usuario-verde {
    background-color: var(--mensaje-usuario-verde);
}

.mensaje-usuario-rojo {
    background-color: var(--mensaje-usuario-rojo);
}

.mensaje-usuario-amarillo {
    background-color: var(--mensaje-usuario-amarillo);
}

.mensaje-usuario i {
    margin-right: 10px;
    color: #FFF;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.grilla {
    width: 1024px;
    margin: 0 auto 50px auto;
    border-radius: 15px;
    border: 1px solid var(--borde-Grilla);
    background-color: rgb(250, 250, 250);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: center;
    color: var(--titulo-Grilla);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

thead th {
    padding: 10px 20px;
    border-bottom: 1px solid var(--borde-inferior-Grilla);
}

tbody tr:hover {
    background-color: rgb(250, 250, 250);
}

tbody td {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--borde-inferior-Grilla);
    padding: 15px 0px;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

td svg {
    max-width: 100%;  
    align-items: center;
}

td {
    width: 400px; 
    height: 400px;
     
}

.texto-elecciones-chico {
    font-size: 12px;
    color: var(--textos);
    font-weight: bold;
}

.texto-path-chico {
    font-size: 11px;
    color: var(--celeste);
}


.dato-general {
    border-radius: 10px;
    margin: 15px;
    font-weight: bold;
    width: 184px;
    height: 70px;
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    background-size: 50px; 
}


.dato-general p {
    color: #FFF;
    font-size: 10px;
    margin: 5px 0; 
}


.dato-general svg {
    width: 50px; 
    height: 50px;
    fill: #fff; 
}


.grilla-agrupaciones {
    width: 100px;
    height: 100px;
    overflow-y: scroll;
    padding: 5px;
    font-size: 10px;
    color: var(--textos);
}

.right-align {
    text-align: right;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}








#pie-de-pagina {
    background-color: var(--fondo-Footer);
    color: var(--texto-footer);
}


#pie-de-pagina {
    background-color: var(--fondo-Footer);
    color: var(--texto-footer);
    padding: 20px;
    font-size: 12px;
    line-height: 1.4;
}


#pie-de-pagina img {
    width: 100px; 
    
    
}


#pie-de-pagina p {
    margin: 0;
    text-align: right, justify;
    color: #727272;
}


#pie-de-pagina a {
    color: var(--texto-footer);
    text-decoration: underline;
}